#home-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Questrial', sans-serif;
}

#home-container h1 {
  margin-top: 10px;
}

#home-container h3 {
  margin-top: -22px;
  font-size: 20px;
}

#hero-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 200px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-image: url('../images/hero.jpg');
  background-color: rgba(0, 0, 0, 0.55) !important;
  background-blend-mode: color;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-x: 40%;
  background-position-y: 70%;
}


#catch-ph-container {


}


#catch-phrase{
  font-size: 18px;
  text-align: center;
}

.category-box {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
  height: 150px;
  color: antiquewhite;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.category-box h4 {
  margin-bottom: 40px;
}

#box1 {
  margin-top: 35px;
  background-image: url('../images/sports2.jpg');
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-blend-mode: color;
  background-position-y: 0%;
}

#box2 {
  background-image: url('../images/beauty.jpg');
  background-color: rgba(0, 0, 0, 0.4) !important;
  background-blend-mode: color;
  background-position-y: 30%;
}

#box3 {
  background-image: url('../images/house.jpeg');
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-blend-mode: color;
  background-position-y: 30%;
}

#box4 {
  background-image: url('../images/electronics.png');
  background-color: rgba(0, 0, 0, 0.5) !important;
  background-blend-mode: color;
  background-position-y: 60%;
}