#profile-page-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 3%;
  margin-right: 3%;
  }

#profile-page-container h1 {
  font-family: "Roboto"; 
  font-weight: "400";
  margin-bottom: 20px;
}  

#profile-page-container h4 {
  font-family: "Merriweather", sans-serif; 
  font-weight: 400;
  margin-bottom: -10px;
}

#profile-page-container p {
  margin-bottom: 0px;
}

.edit-profile-btn {
  color: white;
  background-color: #010D26;
  padding: 5px 10px;
  border-radius: 5px;
}

#edit-profile-btn:hover {
  color: #F2D5BB;
}

.orders-title {
  background-color: #F2D5BB;
  margin-top: 60px;
  padding: 10px;
  border-radius: 5px;
}

.order-card {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 40px;
}

.order-card h3 {
  margin-top: 30px;
  margin-bottom: 0px;
}





#edit-info-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 3%;
  margin-right: 3%;
  }

#edit-info-form {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 0px;
}

#submit-edit {
  margin-top: 10px;
}

#cancel-btn {
  background-color: #F2D5BB;
  color: #010D26;
}