.page-container {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #181D26;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-left: 3%;
  margin-right: 3%;
}

#search-page-title {
  margin-top: 10px;
  font-weight: 300;
  font-family: 'Roboto', serif;
}

#subtitle {
  margin-top: -22px;
  font-size: 20px;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  margin-bottom: 60px;
}

#card-container {
  display:flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  color: #010D26;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#card-container img {
  width: 75%;
}

#card-container h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

.prod-price-row {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prod-price-row button {
  margin-top: -20px;
}

.add-product-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

.button1 {
  color: white;
  background-color: #010D26;
  padding: 5px 10px;
  border-radius: 5px;  
}

.button1:hover {
  color:rgb(156, 183, 218)
}

#to-cart-btn:hover {
  color: rgba(242, 213, 196, 0.97);
}


