#searchbar-container {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  margin-top: 50px;
  font-family: 'Oxygen', sans-serif;
  align-items: flex-end;
}

.searchbar-label {display: flex;
  align-items: flex-end;
}

#searchbar-container button {
  padding:5px 10px;
  border-radius: 5px;
  background-color: #455159;
  color: rgb(223, 223, 223);
}

#searchbar-container input {
  padding:5px 10px;
  margin-left: 8px;

}

#search-mag-glass {
  width: 14px;
}

