html, body {
  margin: 0;
  padding: 0;
  display:flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

h2 {
  font-family: 'Nunito';
  font-weight: 400;
}

.App {
  padding: 20px;
}

.nav-bar {
  margin-top: 50px;
}

.btn-for-links {

}

.btn-for-submits {

}


/* nav.navbar { 
  display: flex;
  padding: 0px 20px;
  background: #686de0; 
}

button.navbar-button {
  padding: 5px 20px;
  width: 100px;
  margin: 15px 10px;
  border-radius: 3px;
}

.nav-btn {
  color: white;
  text-decoration: none;
} */